<tr>
  <td> <%= link_to url.original_url, url.original_url, class: 'link-dark' %> </td>
  <td> <%= link_to get_slug_url(url.slug), get_slug_url(url.slug), class: 'link-dark' %> </td>
  <td> <%= url.clicked  %> </td>
</tr>
